.App {
  font-family: sans-serif;
  text-align: center;
}
.MainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.countryCard {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.FlagImage {
  width: 100px;
  height: 100px;
}

.searchInput{
  margin: 30px 0;
  width: 600px;
  padding: 10px;
}